.imagenMagico{
  width: 100%;
  background-image: url(../assets/lexaimages/cascada.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.body {
  margin: 0 auto;
  font-family: lato, sans-serif;
  background-color: rgba(0, 0, 255, 0.3);
}
.text-centro {
  text-align: center;
  margin-top:0px;
  padding-top: 40px;
  color: burlywood;
}
.cerrar{
  padding: 10px;
  color: white;
  background-color: aquamarine;
}
.parrafo{
  font-size: 21px;
  text-align: justify;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  color: burlywood;
}
.imagen{
  cursor:pointer;
  opacity:
}
.modal {
  
  display:none;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 25%;
  right: 0;
  width: 45%;
}
#prueba{
  background-image: url(../assets/lexaimages/prueba.jpe);
  background-size: cover;
}
