/*estilos reutilizables*/
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: ravi prakash;
  padding: 0;
  padding-top: 113px;
}

html {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt {
  margin-top: 35px;
}

.align {
  text-align: center;
}

.pb-0 {
  padding: 0;
}
/*grid*/
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row:before , .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  width: 100%;
}
[class *='col-']{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.333%;
}

.col-offset-2 {
  margin-left: 16.666%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.333%;
}

.col-offset-5 {
  margin-left: 41.666%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.333%;
}

.col-offset-8 {
  margin-left: 66.666%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.333%;
}

.col-offset-11 {
  margin-left: 91.666%;
}

.col-offset-12 {
  margin-left: 100%;
}

/*estilos*/

.navegador-original {
    background: #000;
    color: #BC28A3;
    position: fixed;
    height: 109px;
    left: 0;
    top: 0;
}

.nav-nuevo {
  background: rgba(216,220,230,.5);
  color: #BC28A3;
  position: fixed;
  height: 109px;
  left: 0;
  top: 0;
}


.brand{
  padding-top: 10px;
  font-size: 50px;
  margin: 0 10px;
}

.brands {
  padding-top: 100px;
}
.menu {
  list-style: : none;
  display: inline-block;
  margin-top: 5px;
}

.menu-links {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;

}

.menu-links:hover {
  color: #BC28A3;
}

#portada {
  background-image: url('../img/papel2.jpg');
}

.titulo-portada {
  margin-bottom: 100px;
}

.bordeImg {
  border-radius: 50%;
  border: 5px solid #000;
  width: 250px;
  height: 250px;
}

#laLlorona {
  margin-top: 0;
  background: rgb(215, 210, 76);
  padding-bottom: 80px;
}
.leyenda1 {
  background: rgba(255,255,255,.5);
}

.text-p {
  line-height: 40px;
  font-size: 25px;
}

.llorona {
  margin-top: 50px;
}

#popoca {
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 80px;
}

.leyenda2 {
  background: rgba(0, 0, 0, 0.7);
}

#sanborns {
  margin-top: 0;
  color: #fff;
  background-image: url('../img/fondo2-angie.jpg');
  background-size: cover;
  padding-bottom: 80px;
}


footer {

}
